<h1>À propos de cette application</h1>
<p>Cette app a été créée dans le cadre du livrable S5J1.</p>
<p>Objectif : comprendre les bases d’un framework web avec Sinatra.</p>
<p>Technologies utilisées : Ruby + Sinatra + ERB</p>