<h1>Me contacter</h1>
<form action="/contact" method="post">
  <label>Nom :</label>
  <input type="text" name="nom"><br>
  
  <label>Message :</label><br>
  <textarea name="message"></textarea><br>
  
  <button type="submit">Envoyer</button>
</form>