<h1>Bienvenue sur mon Blog Sinatra - S5J1</h1>
<p>Bonjour Rémi ! Ceci est la page d'accueil.</p>
<p>Tu es en train d’apprendre Sinatra avant de passer à Rails.</p>

<ul>
  <li><a href="/about">À propos</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/ressources">Ressources</a></li>
</ul>