<html>
  <head>
    <title>Modifier un gossip</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1>Modifier le gossip</h1>

    <form action="/gossips/<%= @id %>/update" method="POST">
      <p>Auteur : <input type="text" name="gossip_author" value="<%= @gossip.author %>"/></p>
      <p>Contenu : <input type="text" name="gossip_content" value="<%= @gossip.content %>"/></p>
      <input type="submit" value="Mettre à jour"/>
    </form>

    <p><a href="/">← Retour à l'accueil</a></p>
  </body>
</html>
