<!-- lib/views/show.erb -->
<html>
  <head>
    <title>Un gossip en détail</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1>Détail du gossip</h1>

    <p><strong>Auteur :</strong> <%= @gossip.author %></p>
    <p><strong>Potin :</strong> <%= @gossip.content %></p>

    <!-- Formulaire pour supprimer ce gossip -->
    <form action="/gossips/<%= @id %>/delete" method="POST">
      <input type="submit" value="Supprimer ce gossip"/>
    </form>

    <p><a href="/">← Retour à l'accueil</a></p>
  </body>
</html>
