<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow-sm">
      <div class="card-header bg-info text-white">
        Potin n°<%= id %>
      </div>
      <div class="card-body p-5">
        <blockquote class="blockquote mb-0">
          <p class="font-italic">"<%= gossip.content %>"</p>
          <footer class="blockquote-footer text-right">
            Partagé par <cite title="Source Title" class="font-weight-bold"><%= gossip.author %></cite>
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="mt-4 text-center">
      <a href="/" class="btn btn-secondary">Retour à la liste complète</a>
    </div>
  </div>
</div>